body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    padding: 20px;
}

button {
background-color: #3882F6;
width: 100px;
border-radius: 25px;
font-weight: bold;
}

img {
    width:100px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    width:800px;
    height:400px;
}

.topheader {
    display:flex;
    justify-content: space-between;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 100px;
}

.link {
    gap:50px;

}

.midheader {
    display:flex;
    padding-top:50px;
}

.midheadertop {
    flex:1;
    color: #F9FAF8;
    font-weight: bolder;
    font-size:46px;
}

.midheaderbottom {
    flex:1;
    color: #E5E7EB;
    font-size: 18px;
}
.leftmidheader {
    width:400px;
    display:flex;
    flex-direction: column;
    padding-left: 100px;
}

.rightmidheader {
    display:flex;
    align-items: center;
    width:400px;
}

.dnamain { 
    width: 200px;
    height: 250px;    
}

.body1 {
    display:flex;
    flex-direction: column;
    width: 500px;
}

.body1header {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 15px;;
}

.body1body {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.fourphotos {
    outline-style: solid;
    outline-color: #04306e;
}

.totalfourphotos {
    width: 100px;
}

.text {
    padding-top: 8px;
}

.greybox {
    width: 800px;
    height: 200px;
    background-color: #E5E7EB;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    width: 600px;

}

.author {
    color: black;
    font-weight: bold;
    padding-left: 500px;
}

.lightbluecontainer {
    display:flex;
    background-color: #3882F6;
    width: 600px; 
    height: 70px;
    margin-top: 35px;
}

.rightlightblue {
    display:flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    justify-content: center;
}

.lowerbutton {
    color:#F9FAF8;
    border-color: #E5E7EB;
}

.rightlbtop {
    padding-right: 145px;
    font-size: 18px;
    color:#F9FAF8;
    font-weight: bold;
}


.leftlightblue {
    display:flex;
    align-items: center;;
}

.rightlbbot {
    font-size: 13px;
    padding-right: 80px;
    color:#E5E7EB;
}